/*
 * Frequently used colours
 */
:root {
    --oatmeal: #F8F5EF;
    --eucalyptus: #227B53;
    --valencia: #cf3131;
    --cobalt: #1935C1;
    --neon-yellow: #FAED00;
}



/*
 * Default website font with fallbacks
 */
* {
    padding: 0;
    cursor: default;
    font-family: 'Fahkwang', Arial, Helvetica, sans-serif;
}



/* 
 * The fun dynamic background 
 */
section {
    width: 100%;
    height: 100%;
    color: #fff;
    background: linear-gradient(-20deg, #dcc8b7, #bcd8bc, #cfc1db);
    background-size: 400%, 400%;
    position: relative;
    animation: change 30s ease-in-out infinite;
}

@keyframes change {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}



/* 
 * Spinny logo
 */
 @keyframes spin {
    from {
        transform: rotateY(0deg);
        moz-transform: rotateY(0deg); /* Firefox */
        ms-transform: rotateY(0deg); /* Microsoft Browsers */
    }
    to {
        transform: rotateY(360deg);
        moz-transform: rotateY(360deg); /* Firefox */
        ms-transform: rotateY(360deg); /* Microsoft Browsers */
    }
}

@-webkit-keyframes spin{
    from { -webkit-transform: rotateY(0deg); }
    to { -webkit-transform: rotateY(360deg); }
}

#logo {
    width: 96px; 
    height: 96px;
    top: 10%;
    left: 10%;
    position: fixed;
}

#logo:hover {
    cursor: pointer;
    
    animation-name: spin;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-duration: 0.75s;

    -webkit-animation-name: spin;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-duration: 0.75s;
}



/* 
 * The welcome screen!
 */

.welcome-screen, .temp-page {
    width: 50%;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.welcome-screen h1 {
    color: var(--cobalt);
    font-size: 3.8em;
}

.welcome-screen p {
    color: var(--cobalt);
    font-size: 1.2em;
    margin-bottom: 0;
}

.welcome-screen p > a { /* The 'Blog' and 'About' links */
    color: var(--cobalt);
    text-decoration: none;
    font-size: 1.4em;
    margin-top: 45px;
}

.welcome-screen p > a:hover {
    cursor: pointer;
    color: var(--valencia);
    text-decoration: underline;
}

.temp-page {
    color: var(--cobalt);
    text-align: center;
}



/*
 * Some custom variables for the AOS library 
 */
[data-aos][data-aos][data-aos-delay='4000'].aos-animate, 
body[data-aos-delay='4000'] [data-aos].aos-animate {
     transition-delay: 4s;
}

[data-aos][data-aos][data-aos-delay='4500'].aos-animate, 
body[data-aos-delay='4500'] [data-aos].aos-animate {
	transition-delay: 4.5s;
}

[data-aos][data-aos][data-aos-delay='5000'].aos-animate, 
body[data-aos-delay='5000'] [data-aos].aos-animate {
	transition-delay: 5s;
}

[data-aos][data-aos][data-aos-delay='6500'].aos-animate, 
body[data-aos-delay='6500'] [data-aos].aos-animate {
	transition-delay: 6.5s;
}
