---
layout: "wrapper"
---
<div class="welcome-screen">
    <div>
        <h1>Hi.</h1>
        <p>I'm Rexana.</p>
        <p>Welcome to my creative space.</p>
        <p>Relax, kick back.</p>
        <p>Have a browse.</p>
        <p>Stay awhile.</p>
        <div style="clear: both">
            <p><a href="/blog" style="float: left">>> Blog</a></p>
            <p><a href="/about" style="float: right">>> About</a></p>
        </div>
    </div>
</div>

<!-- Adding JavaScript (?)
    <script src="../assets/js/main.js"></script> 
-->
